* {
    margin: 0;
    padding: 0;
}

.all-projects-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
}

.all-projects-container {
    display: flex;
    padding: 64px;
}