* {
    margin: 0;
    padding: 0;
}

#modal[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: auto;
    padding: 32px;
    border-radius: 16px;
}

.modal-btns {
    display: flex;
    gap: 8px;
}

.modal-btns > .submit-btn,
.modal-btns > .close-btn {
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0%);
    padding: 6px 12px;
    cursor: pointer;
}

.all-projects-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
}

.all-projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 64px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
    padding: 16px;
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.project-card-delete-btn {
    align-self: flex-end;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0%);
    border-radius: 8px;
    width: 24px;
    height: 24px;
}

.project-card-delete-btn:hover,
.back-btn:hover,
.add-todo-btn:hover,
.delete-btn:hover,
.todo-info-edit-btn:hover,
.todo-info-priority:hover,
#modal > .submit-btn:hover,
#modal > .close-btn:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.project-card-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 144px;
}

.project-card-todo-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 144px;
}

.project-card-todo-title:nth-child(n+4) {
    list-style: none;
    text-align: center;
}

.add-project-btn {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 45%);
    background-color: white;
    border-color: rgba(0, 0, 0, 25%);
    border-style: dashed;
    box-shadow: 10px 5px 5px #DDD;
    width: 194px;
    height: 194px;
    cursor: pointer;
}

.add-project-btn:hover {
    border-style: solid;
    border-color: rgba(0, 0, 0, 45%);
    color: rgba(0, 0, 0, 65%);
}

.back-btn {
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
    background-color: rgba(0, 0, 0, 0%);
    font-size: 1.5rem;
    width: 64px;
    height: 32px;
    margin: 8px;
    cursor: pointer;
}

.project-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.add-todo-btn {
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0%);
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    margin: 8px auto;
    cursor: pointer;
}

.todos {
    display: grid;
    gap: 4px;
    width: 80%;
    margin: 0 auto;
}

.todo-item {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-column: 1 span;
    border-radius: 16px;
    box-shadow: 1px 3px 5px;
    padding: 8px;
    cursor: pointer;
}

.todo-complete {
    grid-column: 1 / 2;
}

.todo-info-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column: 2 / 3;
}

.todo-title, .todo-desc {
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-title, .todo-desc {
    padding-left: 8px;
}

.todo-due {
    text-align: right;
    padding-right: 16px;
}

.delete-btn {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0%);
    border-radius: 8px;
    width: 24px;
    height: 24px;
}

.low {
    background-color: #DDD;
}

.normal { 
    background-color: white;
    border: 1px solid #DDD;
}

.high {
    background-color: red;
}

.todo-info-container {
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    border: 4px solid black;
    border-radius: 16px;
    box-shadow: 10px 5px 8px;
    padding: 32px;
}

.todo-info-checkbox {
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
}

.todo-info-edit-btn {
    padding: 4px 8px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.todo-info-title,
.todo-info-due-date {
    display: inline;
}

.todo-info-priority {
    display: block;
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid black;
    padding: 4px;
    margin-left: 8px;
    margin-top: 8px;
}

.todo-info-title {
    font-size: 2rem;
    font-weight: bold;
}

.todo-info-desc {
    display: inline-block;
    border: 2px solid black;
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 380px;
    height: 180px;
}

.todo-info-due-date {
    font-size: 1.2rem;
}

.todo-info-section-title,
.todo-info-section-desc,
.todo-info-section-due-date {
    display: flex;
    align-items: center;
}